{% extends layout.html %}

{% block title %}QDigital Test task{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            {% $book = $vars["book"]; %}
            <h4>{{ $book->title }}</h4>
            {% if($book->authors != ""): %}
            <h6>{{ $book->authors }}</h6>
            {% endif; %}
            {% if($book->description != ""): %}
            <p>{{ $book->description }}</p>
            {% endif; %}
        </div>
    </div>
</div>
{% endblock %}
