<section class="carousel mb-5">
    <div class="slider-wrapper">
        <div class="slide">
            <div class="container">
                <div class="d-flex flex-nowrap justify-content-between">
                    <div class="slider-text d-flex flex-column justify-content-center">
                        <h2>Увеличили CTR
                            на 235%
                            за 14 дней</h2>
                        Комплексный аудит вашего сайта
                        легкий способ
                        повысить позиции

                    </div>
                    <div class="slider-img">
                        <img src="assets/pic.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="container">
                <div class="d-flex flex-nowrap justify-content-between">
                    <div class="slider-text d-flex flex-column justify-content-center">
                        <h2>Увеличили CTR
                            на 235%
                            за 14 дней</h2>
                        Комплексный аудит вашего сайта
                        легкий способ
                        повысить позиции

                    </div>
                    <div class="slider-img">
                        <img src="assets/pic.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>