<footer class="bg-dark text-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h4>Контакты</h4>
                <p>Санкт-Петербург</p>
                <p>Новорощинская ул., д.4, оф. 1415-1</p>
                <p>БЦ "Собрание",</p>
                <p>ст. метро Электросила</p>
                <p>+7 (812) 603-48-25</p>

            </div>
            <div class="col-12 col-lg-6">
                <h4>О нас</h4>

                <p>Сотрудничать с А25 – наглядно, функционально, прозрачно. Бюджет проекта на продвижение и развитие сайта базируется на количестве трудочасов на каждую задачу. Политика ценообразования А25 позволяет формировать гибкий и открытый план работ, который согласуется с клиентом. Проект легко оптимизируется и делится на понятные этапы работ.</p>

            </div>
        </div>
    </div>
</footer>