<div class="bg-dark pt-2 mb-5">
    <div class="container">
        <div class="d-flex flex-col flex-lg-row justify-content-between">
            <div class="logo">
                <img src="/assets/logo-q2.png" alt="logo" style="max-height: 80px">
            </div>
            <div class="d-flex flex-col justify-content-center">
                <nav class="navbar navbar-dark">
                    <ul class="navbar-nav d-flex flex-row">

                        {% if(\QD\Models\User::isLoggedIn()): %}
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="#">
                                {{ \QD\Models\User::current()->email; }}
                            </a>
                        </li>
                        <li class="nav-item mx-2"><a class="nav-link" href="/logout">log out</a></li>
                        {% else: %}

                        <li class="nav-item mx-2"><a class="nav-link" href="/signup">signup</a></li>
                        <li class="nav-item mx-2"><a class="nav-link" href="/login">login</a></li>

                        {% endif; %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    {% if(\QD\Models\User::isLoggedIn()): %}

    {% include menu.html %}

    {% endif; %}
</div>