<div class="bg-dark py-2">
    <div class="container">
        <div class="d-flex flex-col flex-lg-row justify-content-between">
            <div class="logo">
                <img src="assets/logo-q.png" alt="logo" style="max-height: 80px">
            </div>
            <div class="d-flex flex-col justify-content-center">
                <nav class="navbar navbar-dark">
                    <ul class="navbar-nav d-flex flex-row">

                        {% if(isset($_COOKIE["uid"])): %}
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="#">
                                {% print_r(\QD\Models\User::find($_COOKIE["uid"])->email); %}
                            </a>
                        </li>
                        <li class="nav-item mx-2"><a class="nav-link" href="/logout">log out</a></li>
                        {% else: %}

                        <li class="nav-item mx-2"><a class="nav-link" href="/signup">signup</a></li>
                        <li class="nav-item mx-2"><a class="nav-link" href="/login">login</a></li>

                        {% endif; %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>