{% extends layout.html %}

{% block title %}QDigital Test task{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h4>Список сохраненных книг</h4>
            {% $books =  $vars["books"]; %}
            <ul class="books-list list-group">
                {% foreach($books as $book): %}
                {% $fav = $book->isFavorite(\QD\Models\User::current()->id) ? "favorite" : "" %}
                <li class="d-flex flex-nowrap justify-content-between list-group-item {{ $fav }} book" data-book-uid="{{ $book->uid }}">
                    <div class="title">{{ $book->title }}</div>
                    <div class="controls d-flex flex-nowrap justify-content-between">
                        <button class="btn btn-success fav">F</button>
                        <button class="btn btn-danger mx-2 del">D</button>
                        <a href="/book/{{ $book->id }}" class="btn btn-info info">I</a>
                    </div>
                </li>
                {% endforeach; %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>

    let del = (uid) => {
        $.ajax({
            url: "/del-book",
            type: "post",
            data: {uid: uid},
            success: (data) => {
                console.log(data);
                $("[data-book-uid=" + uid + "]").remove();
            },
            error: (err) => {
                console.log(err);
            },
            beforeSend: function () {
                $('#loader').fadeIn();
            },
            complete: function () {
                $('#loader').fadeOut();
            }
        });
    };

    let fav = (uid) => {
        $.ajax({
            url: "/fav-book",
            type: "post",
            data: {uid: uid},
            success: (data) => {
                console.log(data);
                $("[data-book-uid=" + uid + "]").toggleClass("favorite");
            },
            error: (err) => {
                console.log(err);
            },
            beforeSend: function () {
                $('#loader').fadeIn();
            },
            complete: function () {
                $('#loader').fadeOut();
            }
        });
    };

    $(".book").each((idx, el) => {
        let uid = $(el).data("book-uid");

        $(el).find(".del").on("click", () => {
            if (confirm("Да?")) {
                del(uid);
            }
        });

        $(el).find(".fav").on("click", () => {
            fav(uid);
        });
    });

</script>



{% if(\QD\Models\User::isLoggedIn()): %}
<script>
    let searchInput = $("#search");
    let books;

    let booksList = (books) => {
        let ul = $("<ol class='list-group list-group-numbered'>");
        $(books).each(function (idx, el) {
            let li = $("<li class='list-group-item d-flex flex-row flex-nowrap justify-content-between pb-1'>").append($("<div class='px-3'>").append(el.volumeInfo.title));
            li.append($("<div class='add_btn'>").append($("<button type='button' class='btn btn-success add-btn' data-book-uid='" + el.id + "' onclick='addBook(this)'>").append("add")));
            li.appendTo(ul);
            //console.log(el);
        });
        return $("<div>").append(ul);
    }

    let searchBooks = (data) => {
        let url = "https://www.googleapis.com/books/v1/volumes?q=" + data.val;


        $.ajax({
            url: url,
            type: "get",
            success: (data) => {
                $(".results-container").html("");
                if (data.items) {
                    books = data.items.slice(0, 10);
                    console.log(books);
                    $(".results-container").append(booksList(books));
                } else {
                    $(".results-container").append($("<div>").text("Ничего не найдено"));
                }
            },
            error: (err) => {
                console.log(err);
            },
            beforeSend: function () {
                $(".results-container").fadeOut();
                $('#loader').fadeIn();
            },
            complete: function () {
                $(".results-container").fadeIn();
                $('#loader').fadeOut();
            }
        });

    };

    $(searchInput).keyup($.debounce(550, function (e) {
        console.log("Test");
        if ($(this).val().trim() === "") {
            return false;
        }
        let toSend = {
            val: $(this).val()
        };
        searchBooks(toSend);
    }));

    $(document).on('click', function (e) {
        var el = '.results-container';
        if ($(e.target).closest(el).length)
            return;
        $(".results-container").fadeOut();
    });

    function addBook(e) {
        if (!confirm("Да?"))
            return false;
        let uid = $(e).data("book-uid");
        let book = {};
        $(books).each((idx, el) => {
            if (el.id === uid) {
                book = {
                    uid: uid,
                    title: el.volumeInfo.title,
                    authors: el.volumeInfo.authors,
                    description: el.volumeInfo.description
                };
            }
        });

        $.ajax({
            url: "/add-book",
            type: "post",
            data: book,
            success: (data) => {
                console.log(data);
            },
            error: (err) => {
                console.log(err);
            },
            beforeSend: function () {
                $('#loader').fadeIn();
            },
            complete: function () {
                $('#loader').fadeOut();
            }
        });
    }

</script>

{% endif; %}

{% endblock %}

<style>
    .books-list {
        max-width: 600px;
    }

    .controls .btn {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .books-list .list-group-item.favorite:before {
        content: "";
        width: 10px;
        height: 100%;
        background: #198754;
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
    }
</style>

