
<div class="menu bg-warning m-0 mt-2">
    <div class="container">
        <div class="d-flex flex-col justify-content-start">
            <nav class="navbar navbar-dark py-2">
                <ul class="navbar-nav d-flex flex-row">

                    <li class="nav-item">
                        <form class="align-items-center search-form">
                            <input type="text" class="form-control" name="search" id="search" placeholder="Поиск">
                            <div class="results-container">

                            </div>
                        </form>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="/library">
                            Библиотека
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="/favorites">
                            Избранное
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>






<style>
    .menu .navbar .nav-item {
        display: flex;
        justify-content: center;
    }
    .menu .navbar .nav-item:not(.nav-item:first-child):hover {
        background: rgba(0,0,0,.1);
    }

    .menu .navbar .nav-item a {
        color: #333;
    }

    #search {
        width: 300px;
    }

    .search-form {
        position: relative;
    }

    .results-container {
        background: #fff;
        min-width: 500px;
        min-height: 100px;
        position: absolute;
        border: 1px solid #666;
        margin-top: .2rem;
        display: none;
    }
</style>
