<section class="orderForm my-5">
    <div class="d-flex justify-content-center">
        <form action="" method="post" class="w-25" id="orderForm">
            <div class="d-flex flex-column">
                <div class="text-center"><h3>Заказать</h3></div>
                <input type="text" name="fio" placeholder="Имя" class="">
                <div class="err text-sm text-danger mb-2" id="name"></div>
                <input type="tel" name="phone" placeholder="Телефон" class="">
                <div class="err text-sm text-danger mb-2" id="phone"></div>
                <input type="email" name="email" placeholder="Email" class="">
                <div class="err text-sm text-danger mb-2" id="email"></div>
                <div class="text-sm text-success mb-2" id="orderFormSuccess"></div>
                <button type="button" class="btn btn-light" id="orderFormSubmit">Отправить</button>
            </div>
        </form>
    </div>
</section>